@use "../sass/variables";
.slug-page {
  padding: 2.5vh 0;

  @media (min-width: map-get(variables.$grid-breakpoints, lg)) {
    padding: 5vh 0;
  }
  h1 {
    font-size: clamp(1.9rem, 7vw, 9.7rem);
    line-height: 1.2;
  }

  ul,
  ol {
    li {
      list-style-position: inside;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
